<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>topics</title>
</head>
<body>
{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>Topics</h1>
{% endblock header %}

{% block content %}

<ul>
    {% for topic in topics %}
    <li> <a href = "{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></li>
    {% empty %}
    <li>
        No topics have been added yet.
    </li>
    {% endfor %}
</ul>
    <h3><a href = "{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3>
{% endblock content %}
</body>
</html>